#image-gallery-view .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#image-gallery-view .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #image-gallery-view .thumb {
    padding-bottom: 3px;
}

#image-gallery-view .thumb img{
    height: 60px;
    width: 80px;
}
#image-gallery-view .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
#image-gallery-view .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; // for ie to ensure that the text is centered
}

#image-gallery-view .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(over.gif) repeat-x left top;
    padding: 4px;
}

#image-gallery-view .x-item-selected{
    background: #eff5fb url(selected.gif) no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
#image-gallery-view .x-item-selected .thumb{
    background:transparent;
}

#image-gallery-view .loading-indicator {
    font-size:11px;
    background-image:url('extjs-4.0.0-src/resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}
/*#page{
    display: none;
}*/
#gallery{
    height:500px;
}
.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}

/*light box*/

#ux-lightbox {
    left: 0;
    line-height: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height:50%;
    z-index: 15000;
	
}
#ux-lightbox img {
    height: auto;
    width: auto;
}
#ux-lightbox a img {
    border: medium none;
}
#ux-lightbox-outerImageContainer {
    background-color: #F3EFEC;
    height: 250px;
    margin: 0 auto;
    position: relative;
    width: 250px;
	align:center;
}
#ux-lightbox-imageContainer {
    padding: 10px;
}
#ux-lightbox-loading {
    background: url("images/lb-load.gif") no-repeat scroll center 15% transparent;
    height: 25%;
    left: 0;
    line-height: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}
#ux-lightbox-hoverNav {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
#ux-lightbox-imageContainer > #ux-lightbox-hoverNav {
    left: 0;
}
#ux-lightbox-hoverNav a {
    outline: medium none;
}
#ux-lightbox-navPrev, #ux-lightbox-navNext {
    background-image: url("data:image/gif;base64,AAAA");
    display: block;
    height: 100%;
    width: 49%;
}
#ux-lightbox-navPrev {
    float: left;
    left: 0;
}
#ux-lightbox-navNext {
    float: right;
    right: 0;
}
#ux-lightbox-navPrev:hover, #ux-lightbox-navPrev:visited:hover {
    background: url("images/lb-prev.png") no-repeat scroll left 33% transparent;
}
#ux-lightbox-navNext:hover, #ux-lightbox-navNext:visited:hover {
    background: url("images/lb-next.png") no-repeat scroll right 33% transparent;
}
#ux-lightbox-outerDataContainer {
    margin: 0 auto;
    width: 100%;
}
#ux-lightbox-dataContainer {
    background-color: #F3EFEC;
    font: 10px/1.4em Verdana,Helvetica,sans-serif;
    overflow: auto;
}
#ux-lightbox-data {
    color: #666666;
    padding: 0 10px;
}
#ux-lightbox-data #ux-lightbox-details {
    float: left;
    text-align: left;
    width: 80%;
}
#ux-lightbox-data #ux-lightbox-caption {
    font-size: 10px;
   /* font-weight: bold;*/
}
#ux-lightbox-data #ux-lightbox-imageNumber {
    clear: left;
    display: block;
    padding-bottom: 1em;
}
#ux-lightbox-data #ux-lightbox-navClose {
    background: url("images/lb-close.gif") no-repeat scroll 0 0 transparent;
    float: right;
    height: 22px;
    outline: medium none;
    padding-bottom: 0.7em;
    width: 66px;
}
#ux-lightbox-data #ux-lightbox-navClose:hover {
    background-image: url("images/lb-close-over.gif");
}
#ux-lightbox-overlay, #ux-lightbox-shim {
    background-color: #000000;
    border: 0 none;
    height: 500px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 14999;
}
#ux-lightbox-shim {
    background-color: transparent;
    z-index: 89;
}



#images-result-view .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#images-result-view .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #images-result-view .thumb {
    padding-bottom: 3px;
}

#images-result-view .thumb img{
    height: 60px;
    width: 80px;
}
#images-result-view .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
#images-result-view .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; // for ie to ensure that the text is centered
}

#images-result-view .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(over.gif) repeat-x left top;
    padding: 4px;
}

#images-result-view .x-item-selected{
    background: #eff5fb url(selected.gif) no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
#images-result-view .x-item-selected .thumb{
    background:transparent;
}

#images-result-view .loading-indicator {
    font-size:11px;
    background-image:url('extjs-4.0.0-src/resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}




#image-serach-view .x-panel-body{
    background: white;
    font: 13px Times New Roman;
}
#image-serach-view .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #image-serach-view .thumb {
    padding-bottom: 3px;
}

#image-serach-view .thumb img{
    height: 200px;
    width: 245px;
}
#image-serach-view .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
#image-serach-view .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; // for ie to ensure that the text is centered
}

#image-serach-view .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(over.gif) repeat-x left top;
    padding: 4px;
}

#image-serach-view .x-item-selected{
    background: #eff5fb url(selected.gif) no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
#image-serach-view .x-item-selected .thumb{
    background:transparent;
}

#image-serach-view .loading-indicator {
    font-size:11px;
    background-image:url('extjs-4.0.0-src/resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

#chartCmp{

}

table{
margin-top:0 !important;
border:0px!important;

}
th{
background:#ffffff!important;
}

tr th{

background:#ffffff!important;

}
tr,tr.even{
background:#ffffff!important;

}

.my-panel .x-tool {
    right: 0 !important;
}
.x-docked-noborder-right {

border-right-width: 1 !important;
}
